tr th{
    text-align: center;
}
@media screen and (max-width:400px) {
    tr th{
        font-weight: 400;
        font-size: 14px;
    }
}
@media screen and (max-width:668px) {
    tr th{
        font-weight: 600;
    }
}